@import url('https://fonts.googleapis.com/css2?family=Open+Sans&display=swap');

body {
  margin: 0;
}

// sass variables
$fontFamily: 'Open Sans';
$maxWidthMobile: 768px;
  
* { 
  font-family: $fontFamily !important;
}

*::-webkit-scrollbar {
  width: 5px;
  height: 8px;
  background-color: #eee;
}

*::-webkit-scrollbar-thumb {
  background: rgba(102, 102, 102, 0.35);
  border-radius: 2px;
}

*::-webkit-scrollbar-thumb:hover {
  background: rgba(102, 102, 102, 0.9);
}

#body-wrapper {
  display: flex;
}

body, html {
  height: 100%;
  font-family: Arial, sans-serif;
}

.container {
  display: flex;
  flex-direction: column;
}

.topbar {
  display: block;
}

.content-area {
  display: flex;
  flex-grow: 1; /* Allow the content area to expand */
}

.sidebar {
  background-color: #f4f4f4;
  padding: 16px 0;
  box-shadow: 2px 0 5px rgba(0, 0, 0, 0.1);
}

.main-content {
  flex-grow: 1; /* Allow the main content to fill the remaining space */
  background-color: #fff;
  padding: 32px;
  width: 100%;
  overflow-y: auto;

  @media screen and (max-width: $maxWidthMobile) {
    padding: 4px;
  }
}
